/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.boxes-app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.boxes-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}
.small-box {
  background-color: #fbbf24;
  height: 80px;
  width: 80px;
  margin-top: 24px;
}
.medium-box {
  background-color: #38bdf8;
  height: 150px;
  width: 150px;
}
.large-box {
  background-color: #ec4899;
  height: 270px;
  width: 270px;
}
.box-title {
  color: #ffffff;
  font-family: "Bree Serif";
  font-size: 18px;
}
